<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    </body>
    <script type="text/template" id="todoTemplate">
        <div>
            <h1>Todo List</h1>
            <ul>
                
            </ul>
            <span>(c) helloworld - 2013</span>
        </div>
    </script>
    <script type="text/template" id="taskTemplate">
        <li>
            <strong><%= todo %></strong> - (<%= priority %>) - [<%= completed %>]
            <a class="task-edit" href="#/edit/<%= id %>">edit</a>
            <a class="task-delete" href="#/delete/<%= id %>">delete</a>
        </li>
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backbone.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>